!!!
%html
  %head
    %title Comment Word Counter
    %link(rel='stylesheet' media='screen' type='text/css' href='/stylesheets/foundation.css')
    %link(rel='stylesheet' media='screen' type='text/css' href='/style.css')
    %script(type='text/javascript' src='/javascripts/jquery.min.js')
    %script(type='text/javascript' src='/javascripts/foundation.js')
    %script(type='text/javascript' src='/javascripts/app.js')
    %script(type='text/javascript' src='/javascripts/modernizr.foundation.js')
  %body
    .container
      .row
        .header
          %h1
            prepare for massive win
      .row
        .content
          - if @user
            %form{class: 'nice', method: 'post', action: '/'}
              %p
                good job! everything is nice and shiny now!
              %p
                put in the comment thread id of the thread you are looking for, it looks like
                %br
                https://www.facebook.com/[some user]/posts/[the id]
              %input(type='text' name='id' id='id' value='' placeholder='Thread ID' class='input-text')/
              %input(type='submit' name='submit' id='submit' value='magic!' class='large blue radius button')/
          - else
            %p
              you need a gorram access code!
            %h3
              time to
              %a{href: '/auth'} auth up!
      .row
        .footer
          - if @user
            %a{href: '/logout'} log out
