- if @user
  %form{class: 'nice', method: 'post', action: '/'}
    %p
      Good job! Everything is nice and shiny now!
    %p
      Put in the comment thread id of the thread you are looking for, it looks like
      %br
      https://www.facebook.com/[some user]/posts/[the id]
    %p
      %a{href: '#', id: 'searchbutton'}
        looking for a certain term or terms?
    %input(type='text' name='id' id='id' value='' placeholder='Thread ID' class='input-text')/
    .searchbutton
      %label{for: 'search'} put in the terms you are searching for:
      %input(type='text' name='search' id='search' value='' placeholder='Search Term' class='input-text')/
    %input(type='submit' name='submit' id='submit' value='magic!' class='large blue radius button')/
- else
  %p
    This app allows you to count the frequency that words are used in comments on a facebook post. It's still buggy, so bear with me.
  %p
    You need a gorram access code from facebook!
  %h3
    Time to
    %a{href: '/auth'} auth up!
