!!!
%html
  %head
    %title Comment Word Counter
    %link(rel='stylesheet' media='screen' type='text/css' href='/stylesheets/foundation.css')
    %link(rel='stylesheet' media='screen' type='text/css' href='/style.css')
    %script(type='text/javascript' src='/javascripts/jquery.min.js')
    %script(type='text/javascript' src='/javascripts/foundation.js')
    %script(type='text/javascript' src='/javascripts/app.js')
    %script(type='text/javascript' src='/javascripts/modernizr.foundation.js')
    %script(type='text/javascript' src='/javascripts/main.js')
  %body
    .container
      .row
        .header
          %h1
            Prepare for massive win
      .row
        .content
          = yield
      .row
        .footer
          - if @user
            %a{href: '/logout'} log out
