!!!
%html
  %head
    %title Comment Word Counter
    %link(rel='stylesheet' media='screen' type='text/css' href='/stylesheets/foundation.css')
    %link(rel='stylesheet' media='screen' type='text/css' href='/style.css')
    %script(type='text/javascript' src='/javascripts/jquery.min.js')
    %script(type='text/javascript' src='/javascripts/foundation.js')
    %script(type='text/javascript' src='/javascripts/app.js')
    %script(type='text/javascript' src='/javascripts/modernizr.foundation.js')
  %body
    .container
      .row
        .header
          %h1
            the massive win has arrived
      .row
        .content
          %p
            you are a winner!
          %p
            = @messages
            -# @messages.each do |item|
              %li
                = item
          %a{href: '/'}
            %h2 AGAIN!
      .row
        .footer
          - if loggedin?
            %a{href: '/logout'} log out
